app/index.html
<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="myApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Material Seed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div class="main" layout="column" ng-controller="navCtrl">
      <md-toolbar class="md-padding" layout="row">
        <h3>Angular Material Seed</h3>
      </md-toolbar>
      <md-content flex>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-sref="page1" name="page1">Page 1</md-nav-item>
          <md-nav-item md-nav-sref="page2" name="page2">Page 2</md-nav-item>
        </md-nav-bar>
        <div class="ext-content">
          <ui-view></ui-view>
        </div>
        <div class="md-padding">Angular seed app: v<span app-version></span></div>
      </md-content>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="pages/page1/page1.js"></script>
    <script src="pages/page2/page2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>

app/views/index.pug
//- index.html

extends templates/layout.pug

block content

  div.main(layout="column", ng-controller="navCtrl")

    md-toolbar.md-padding(layout="row")
      h3 Angular Material Seed

    md-content(flex)
      md-nav-bar(md-selected-nav-item="currentNavItem", nav-bar-aria-label="navigation links")
        md-nav-item(md-nav-sref="page1", name="page1") Page 1
        md-nav-item(md-nav-sref="page2", name="page2") Page 2

      div.ext-content
        ui-view

      div.md-padding Angular seed app: v#[span(app-version)]
